
<div ng-controller="homeCtrl" ng-init="Getall()">

<div class="container" >   
    <div class="formtag">
        <form>
            <div class="form-control">
                <input type="text" ng-model="addressline" placeholder="Enter Address">
                <span style="color:red">{{errormsg}}</span>
            </div>
           
            <div class="form-control1 flexdiv">
                <div>
                    <input type="number" ng-model="pincode" placeholder="Enter Pincode">
                </div>
                <div>
                    <input type="text" ng-model="city" placeholder="Enter City">
                </div>
                <div>
                    <input type="text" ng-model="district" placeholder="Enter District">
                </div>
                <div>
                    <input type="text" ng-model="state" placeholder="Enter State">
                </div>
                <div>
                    <input type="text" ng-model="country" placeholder="Enter Country">
                </div>
            </div>
            <div>
            <button type="submit" name="submit" ng-click="InsertDetails(addressline,pincode,city,district,state,country)">Split and Save</button>
           </div>
        </form>
    </div>
</div>

<div class="fetcheddata">   
   <div>
    <p>Addresline1:{{newdata.addressLine1}}</p>
    <p>Addresline2:{{newdata.addressLine2}}</p>
    <p>Addresline3:{{newdata.addressLine3}}</p>
    <p>Pincode:{{newdata.pincode}}</p>
    <p>City:{{newdata.city}}</p>
    <p>District:{{newdata.district}}</p>
    <p>State:{{newdata.state}}</p>
    <p>Country:{{newdata.country}}</p>
   </div>
</div>
<div class="fetcheddata" ng-repeat="data in addressdata" >
{{data.addressLine1}} {{data.addressLine2}} {{data.addressLine3}}  {{data.pinCode}} 
</div>
</div>