<div class="container" ng-controller="homeCtrl">   
    <div class="formtag">
        <form>
            <div class="form-control">
                <input type="text" ng-model="addressline1" placeholder="Enter Address">
            </div>
            <div class="form-control1 flexdiv">
                <div>
                    <input type="text" ng-model="pincode" placeholder="Enter Pincode">
                </div>
                <div>
                    <input type="text" ng-model="city" placeholder="Enter City">
                </div>
                <div>
                    <input type="text" ng-model="district" placeholder="Enter District">
                </div>
                <div>
                    <input type="text" ng-model="state" placeholder="Enter State">
                </div>
                <div>
                    <input type="text" ng-model="country" placeholder="Enter Country">
                </div>
            </div>
            <div>
            <button type="submit" name="submit" ng-click="insert(addressline1)">Split and Save</button>
           </div>
        </form>
    </div>
</div>

<div class="fetcheddata" ng-controller="homeCtrl">   
   <div>
    <p>Addresline1:</p>
    <p>Addresline2:</p>
    <p>Addresline3:</p>
    <p>Pincode:</p>
    <p>City:</p>
    <p>District:</p>
    <p>State:</p>
    <p>Country:</p>
   </div>
</div>